<div *ngIf ="produto">
  <div class="jumbotron jumbotron-fluid">
  <!-- Property Binding-->
  <!-- Dados fornecidos pelo meu component -->
  {{produto.nome}}<br>
  Valor Atual: R$<span>{{produto.valorAtual}}</span><br>
  Lance Minimo: R$<span>{{produto.incOmissao}}</span><br>
  <div>
    <img style="max-height:300px;max-width: 300px"src = "data:image/jpg;base64,{{produto.foto}}" class="img-fluid" alt="responsive image">
  </div>
  <div [ngSwitch]="produto.estado">
  <!-- 
    Caso o produto esteja a aberto a negociações ele exibe o formulario de 
  -->
    <div *ngSwitchCase = "'ABERTO'">
        <form>
            <div class="form-group">
              <label for="InputOferta">Maior Oferta: {{produto.Oferta}}</label>
              <input type="text" (keypress)="AllowNumbersOnly($event)" class="form-control" name="oferta" aria-describedby="ofertaProduto" placeholder="Faça sua Oferta aqui." #iptOferta = "ngModel" ngModel>
              <small id="emailHelp" class="form-text text-muted">Ofertas devem ser maiores ou iguais ao valor atual somado do valor de incremento</small>
            </div>
            <button type="submit" (click)="RealizaOferta(iptOferta.value, produto.id)" class="btn btn-primary">Ofertar</button>
            <button type="submit" (click)="RealizaOfertaIncremento(produto.id)" class="btn btn-primary">Ofertar por lance mínimo</button>
          </form>
    </div>
    <div *ngSwitchCase = "'FECHADO'">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Negociações Encerradas</button>
    </div>
  </div>
</div>
</div>

<div class="jumbotron jumbotron-fluid" *ngIf = "!produto" >
  Produto não encontrado.
</div>