<div class="container container-fluid">
  <form #form = "ngForm">
      <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Busca</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Busca</div>
            </div>
            <input type="text" class="form-control" name="name" ngModel>
          </div>
        </div>
        <input type="submit" (click)="RealizaBusca(form.value.name)" class="btn btn-primary">
  </form>
  </div>

